<div class="bg-dark text-white texto-rodapé pt-3 mt-auto">
  <section class="container">
    <div class="row">
      <article class="col-sm ">
        <h4>Desenvolvedor</h4>
        <p class="">Guilherme do Vale Castro Oliveira</p>
        <p class="">Telefone: (XX) X XXXX-XXXX</p>
      </article>
      <article class="col-sm text">
        <h4>Sobre o site</h4>
        <p class="">Este site é de ultilização destinada ao incremento
          do portifólio</p>
        <p class=" ">Utilizados conhecimentos obtidos através de
          estudos de HTML, CSS, Java, Bootstrap, Javascript, JQuery, Spring
          MVC, SpringBoot e edição de imagem</p>
      </article>
    </div>
  </section>
</div>
