<header class="fixed-top shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/imagens/logo-loja.png" alt="Logo" height="40">
      </a>

      <div class="flex-grow-1 mx-lg-4 d-none d-md-block">
        <div class="input-group">
          <input class="form-control search_input" placeholder="O que você busca?" [formControl]="busca">
          <button class="btn btn-info text-white" type="button">
            <fa-icon [icon]="faBusca"></fa-icon>
          </button>
        </div>
      </div>

      <div class="d-flex align-items-center">
        @if (!logado()) {
          <button class="btn btn-outline-light btn-sm" (click)="carregarTela('login')">
            Entrar
          </button>
        } @else {
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" (click)="isCollapsed.set(!isCollapsed())">
              {{ tokenDecodificado().sub }}
            </button>
            <ul class="dropdown-menu dropdown-menu-end shadow" [class.show]="isCollapsed()">
              @if (tokenDecodificado().roles === 'ADMIN') {
                <li><a class="dropdown-item" routerLink="/conteudo/cadastro">Cadastrar</a></li>
              }
              <li><a class="dropdown-item" routerLink="/conteudo/carrinho">Carrinho</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><button class="dropdown-item" (click)="acaoBotaoSair()">Sair</button></li>
            </ul>
          </div>
        }
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-expand navbar-light bg-light border-bottom d-none d-sm-block">
    <div class="container justify-content-center">
      <ul class="navbar-nav">
        @for (tipo of tipoProdutos(); track tipo) {
          <li class="nav-item">
            <button class="nav-link btn btn-link border-0 py-0" (click)="buscarTipoProduto(tipo)">
              {{ tipo }}
            </button>
          </li>
        }
      </ul>
    </div>
  </nav>
</header>