<div class="text-uppercase">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-tops">
    <div class="container mx-auto">
      <a class="navbar-brand" href="/"> <img src="../../../assets/imagens/logo-loja.png" alt="Logo loja genérica">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <form class="form-busca my-2 my-lg-0 w-50 w-sm-100"
        th:action="@{/buscador}">
        <div class="row w-100  m-0 mr-sm-2">
          <div class="col px-0 left-input-busca bg-white"></div>
          <input class="col-10 m-0 search_input px-0" type="search"
            placeholder="O que você está buscando?" name="busca"
            aria-label="Search">
          <input  type="hidden" name="usaBusca" th:value="true">
          <button type="submit" class="col-1 search_icon px-0 bg-white">
            <i class="fas fa-search text-info" alt="Pesquisar"></i>
          </button>
        </div>
      </form> -->
      <div class="collapse navbar-collapse mx-auto" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li><a class="nav-item nav-link text-white w-auto active" href="#"><i class="fas fa-bars text-info"></i>
              cadastrar <span class="sr-only">(current)</span></a></li>
          <li><a class="nav-item nav-link text-white w-auto" href="#"><i
                class="far fa-heart text-info h5 mr-1"></i>favoritos </a></li>
          <li><a class="nav-item nav-link text-white" href="#"> <i class="fas fa-shopping-cart text-info h5"></i>
              Carrinho
            </a></li>
        </ul>
      </div>
      <!-- <div class="collapse navbar-collapse mx-auto"
        id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li sec:authorize="${hasRole('ADMIN')}"><a
            class="nav-item nav-link text-white w-auto active" href="#"
            th:href="@{/cadastro}"><i class="fas fa-bars text-info"></i>
              cadastrar <span class="sr-only">(current)</span></a></li>
          <li sec:authorize="${hasAnyRole('ADMIN', 'USER')}"><a
            class="nav-item nav-link text-white w-auto" href="#"><i
              class="far fa-heart text-info h5 mr-1"></i>favoritos </a></li>
          <li><a class="nav-item nav-link text-white" href="#"
            th:href="@{/carrinho}"> <i
              class="fas fa-shopping-cart text-info h5"></i> Carrinho
          </a></li>
        </ul>
      </div> -->
    </div>


    <a class="nav-item nav-link text-white align-self-right" href="#"> Logar/Registrar </a>



    <label class="btn text-white"></label> <input class="btn text-white text-uppercase mb-2" type="submit" name="Sair">

    <!-- <th:block sec:authorize="${!isAuthenticated()}">
      <div th:if="${paginaLogin == null}">
        <a class="nav-item nav-link text-white align-self-right" href="#" th:href="@{/login}"> Logar/Registrar </a>
      </div>
    </th:block>
    <form sec:authorize="${isAuthenticated()}" th:action="@{/logout}" method="post">
      <label class="btn text-white" sec:authentication="principal.username"></label> <input
        class="btn text-white text-uppercase mb-2" type="submit" th:value="Sair" name="Sair"></input>
    </form> -->
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-tops">
    <div class="container mx-auto">
      <a class="navbar-brand" href="#">A maior loja do <span class="text-info">Brasil</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pl-4" id="navbarNavAltMarkup2">
        <ul class="navbar-nav">
          <li><a class="nav-item nav-link" href="#">Camisas <span class="sr-only">(current)</span>
            </a></li>
          <li><a class="nav-item nav-link" href="#">Livros</a></li>
          <li><a class="nav-item nav-link" href="#">Geral</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-tops">
    <div class="container mx-auto">
      <a class="navbar-brand" href="#">A maior loja do <span class="text-info">Brasil</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pl-4" id="navbarNavAltMarkup2">
        <ul class="navbar-nav">
          <li><a class="nav-item nav-link" href="#" th:href="@{'/tipoProduto?tipo=camisa'}">Camisas <span
                class="sr-only">(current)</span>
            </a></li>
          <li><a class="nav-item nav-link" href="#" th:href="@{'/tipoProduto?tipo=livro'}">Livros</a></li>
          <li><a class="nav-item nav-link" href="#" th:href="@{'/tipoProduto?tipo=geral'}">Geral</a></li>
        </ul>
      </div>
    </div>
  </nav> -->
</div>
