<div class="text-uppercase">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-tops">
    <div class="container mx-auto">
      <a class="navbar-brand" routerLink="/"> <img src="../../../assets/imagens/logo-loja.png" alt="Logo loja genérica">
      </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="form-busca my-2 my-lg-0 w-50 w-sm-100">
        <div class="row w-100  m-0 mr-sm-2">
          <div class="col px-0 left-input-busca bg-white"></div>
          <input class="col-10 m-0 search_input px-0" placeholder="O que você está buscando?"
            [formControl]="busca" aria-label="Search">
          <button class="col-1 search_icon px-0 bg-white" disabled>
            <fa-icon [icon]="faBusca" class="fas fa-search text-info"></fa-icon>
          </button>
        </div>
      </div>

      <div class="collapse navbar-collapse mx-auto" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li *ngIf="tokenDecodificado && tokenDecodificado.roles == 'ROLE_ADMIN'"><a class="nav-item nav-link text-white w-auto active" routerLink="/conteudo/cadastroProduto">
              <fa-icon [icon]="faBarras" class="fas fa-bars text-info"></fa-icon>
              cadastrar
            </a></li>
          <li><a class="nav-item nav-link text-white" routerLink="/conteudo/carrinho">
              <fa-icon [icon]="faCarrinho" class="fas fa-shopping-cart text-info h5"></fa-icon>
              carrinho
            </a></li>
        </ul>
      </div>
    </div>

    <div class="alert" *ngIf="mensagemErro">{{mensagemErro}}</div>

    <div *ngIf="!logado;else usuarioLogado">
      <button class="nav-item nav-link text-white align-self-right p-3" (click)="carregarTela('login')">
        Logar/Registrar </button>
    </div>

    <ng-template #usuarioLogado>
      <button type="button" class="btn text-white" (click)="isCollapsed = ! isCollapsed"
        [attr.aria-expanded]="!isCollapsed">{{ tokenDecodificado.sub }}</button>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed"><button class="btn text-white text-uppercase"
          (click)="acaoBotaoSair()">Sair</button>
      </div>
    </ng-template>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-tops">
    <div class="container mx-auto">
      <a class="navbar-brand" routerLink="#">A maior loja do <span class="text-info">Brasil</span></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse pl-4" id="navbarNavAltMarkup2">
        <ul class="navbar-nav"  *ngFor="let tipoProduto of tipoProdutos">
          <li *ngIf="tipoProduto"><button class="nav-item nav-link" (click)="buscarTipoProduto(tipoProduto)">{{tipoProduto}} </button></li>
        </ul>
      </div>
    </div>
  </nav>

</div>
