<main class="card card-borda  p-0 m-3">
  <img [src]="produto.urlImagem" onError="this.src='../../../assets/imagens/produto sem imagem.png'"
    class="card-img-top card-posicao-imagem" [alt]="produto.descricao">
  <div class="card-body">
    <h5 class="card-title">
      {{ produto.descricao | ellipsify: 25 }}
      <span class="badge badge-primary">{{ produto.descricao | uppercase }}</span>
    </h5>
    <p class="card-text">
      {{ produto.preco | currency:'BRL' }}
    </p>
    <button (click)="addCarrinho()" class="btn btn-primary ">
      Comprar
    </button>
  </div>
</main>
