<main>
  <div class="container mt-5">
    <img class="container mt-3" src="../../../assets/imagens/banner-loja.png" alt="banner principal da loja">
  </div>

  <div class="container-fluid" *ngIf="listProdutos.length > 0;else semProdutos">

    <div class="container text-center mt-3">
      <h1>Ultimos lançamentos</h1>
    </div>
    <div class="container mb-3">
      <div class="row justify-content-center card-text text-info">
        <app-produtos
          *ngFor="let produto of listProdutos | paginate: { currentPage: paginaAtual, itemsPerPage: itemsPerPage, totalItems: totalProdutos } let i = index"
          [produto]="produto" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        </app-produtos>
        <pagination-controls previousLabel="Anterior" nextLabel="Proximo" [responsive]="true"
          (pageChange)="handlePageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>
  <ng-template #semProdutos>
    <div class="container mt-3">
      <h1>Sem produtos disponíveis</h1>
    </div>
  </ng-template>
</main>
