  <div class="container">
    <img class="container mt-3" src="../../../assets/imagens/banner-loja.png" alt="banner principal da loja genérica">
  </div>

  <div class="container-fluid">

    <div class="container mt-5" *ngIf="listProdutos.length > 0;else semProdutos">
      <h3 class="text-center titulos">Ultimos lançamentos</h3>
    </div>
    <ng-template #semProdutos>
      <div class="container mt-5">
        <h3 class="text-center titulos">Sem produtos disponíveis</h3>
      </div>
    </ng-template>

    <div class="container mb-3">
      <div class="row justify-content-center card-text text-info">
        <app-produtos
          *ngFor="let produto of listProdutos | paginate: { currentPage: paginaAtual, itemsPerPage: itemsPerPage, totalItems: totalProdutos } let i = index"
          [produto]="produto" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12">
        </app-produtos>
        <pagination-controls previousLabel="Anterior" nextLabel="Proximo" [responsive]="true"
          (pageChange)="handlePageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>
