html, body {
  height: 100%;
}

button:hover {
  transform: scale(1.1);
  font-weight: bold;
}

a:hover {
  transform: scale(1.1);
  font-weight: bold;
}

.nohover:hover {
  transform: initial;
  font-weight: initial;
}

.card-posicao-imagem {
	object-fit: cover;
	height: 250px;
}

h1 {
	font-weight: bold;
	color: red;
	opacity: 0.7;
  position: relative;
}
