.cart-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background-color: white;
}

.underline-title {
  width: 60px;
  height: 4px;
  background-color: #0dcaf0; /* Cor Info */
  border-radius: 2px;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
  transition: 0.2s;
}

.scale-hover {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scale-hover:hover {
  transform: scale(1.2);
}

/* Garante que o tfoot fique destacado */
tfoot {
  border-top: 2px solid #dee2e6;
}